.login-container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.login-left {
  width: 40%;
  padding: 60px;
}

.login-left input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
}

.login-left button {
  background: #8b5cf6;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
}

/* CLASS SELECTION */
.class-section {
  width: 60%;
  background: #8b5cf6;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  gap: 30px;
}

.card {
  background: white;
  color: black;
  padding: 30px;
  border-radius: 16px;
  cursor: pointer;
  width: 200px;
  text-align: center;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}
