.hero {
  min-height: 100vh;
  background: #ff0000;
  display: flex;
  align-items: center;
}

.hero-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

/* LEFT TEXT */
.hero-text h1 {
  font-size: 4rem;
  font-weight: 700;
  color: #5c67bd;
}

.hero-text p {
  margin: 20px 0;
  font-size: 1.1rem;
  color: #475569;
  max-width: 420px;
}

.hero-btn {
  padding: 12px 28px;
  background: #8b5cf6;
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}
/* RIGHT IMAGE */
.hero-visual {
  position: relative;
  height: 400px;
}

.wave {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #a78bfa, #7c3aed);
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
}


