.about {
  padding: 100px 20px;
  background: white;
}

.about-container {
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

/* LEFT SIDE */
.about-label {
  color: #8b5cf6;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 0.85rem;
}

.about-text h2 {
  font-size: 3rem;
  color: #0f172a;
  margin: 16px 0 30px;
}

.about-text p {
  color: #475569;
  font-size: 1rem;
  line-height: 1.7;
  margin-bottom: 20px;
  max-width: 480px;
}

/* RIGHT SIDE */
.about-image {
  background: linear-gradient(180deg, #ede9fe, #c4b5fd);
  border-radius: 20px;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .about-container {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .about-text h2 {
    font-size: 2.4rem;
  }

  .about-text p {
    max-width: 100%;
  }
}
