.home {
  width: 100%;
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.hero {
  background-color: #0f172a;
  color: white;
}

.about {
  background-color: #e5e7eb;
}
