.navbar {
  width: 100%;
  background: rgb(233, 237, 255);
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid #eee;
}

.nav-container {
  max-width: 1200px;
  margin: auto;
  padding: 16px 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* LOGO */
.logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #0f172a;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  color: #334155;
  font-weight: 500;
}

.nav-links a:hover {
  color: #8b5cf6;
}

/* BUTTON */
.nav-btn {
  background: #8b5cf6;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
}





@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}
