.services {
  padding: 100px 20px;
  background: white;
}

.services-container {
  max-width: 1200px;
  margin: auto;
}

/* HEADING */
.services-heading {
  text-align: center;
  margin-bottom: 80px;
}

.services-heading span {
  color: #8b5cf6;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.services-heading h2 {
  font-size: 2.8rem;
  color: #0f172a;
  margin-top: 16px;
}

/* CARDS */
.services-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}

.service-card {
  text-align: center;
  padding: 20px;
}

.service-card h3 {
  margin-top: 30px;
  font-size: 1.2rem;
  color: #0f172a;
}

.service-card p {
  margin-top: 14px;
  color: #475569;
  line-height: 1.6;
  font-size: 0.95rem;
}
/* ICONS */
.icon {
  margin: auto;
  margin-bottom: 20px;
}

/* Circle icon */
.circle {
  width: 80px;
  height: 80px;
  background: #a855f7;
  border-radius: 50%;
}

/* Check icon (fake for now) */
.check {
  width: 80px;
  height: 80px;
  border: 6px solid #a855f7;
  border-radius: 16px;
  transform: rotate(-45deg);
}

/* Square icon */
.square {
  width: 80px;
  height: 80px;
  background: #a855f7;
}


@media (max-width: 900px) {
  .services-cards {
    grid-template-columns: 1fr;
    gap: 50px;
  }

  .services-heading h2 {
    font-size: 2.2rem;
  }
}
