.footer {
  background: #0f172a;
  color: #cbd5f5;
  padding-top: 80px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

/* LOGO */
.footer-logo {
  color: white;
  font-size: 1.6rem;
  margin-bottom: 12px;
}

/* HEADINGS */
.footer-col h4 {
  color: white;
  margin-bottom: 16px;
}

/* TEXT */
.footer-col p {
  font-size: 0.95rem;
  line-height: 1.6;
}

/* LIST */
.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
  font-size: 0.95rem;
  cursor: pointer;
}

.footer-col ul li:hover {
  color: #a855f7;
}

/* BOTTOM BAR */
.footer-bottom {
  margin-top: 60px;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #1e293b;
  font-size: 0.85rem;
  color: #94a3b8;
}




/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
